@charset 'utf-8';

body {
  margin: 0;
  padding: 0 40px;
  font-size: 16px;
  background-color: #fff353;
  font-family: Arial,Verdana,Helvetica,'MS UI Gothic',sans-serif;
}

div#main {
  margin-bottom: 1em;
  padding: 10px 20px;
  border: none;
  background-color: #ffffff;
}

div#main h2 {
  color: #000000;
  border-bottom: 1px solid #cee6e6;
  margin: 1.2em 0;
}

div#main a:link {
  color: #f35a21;
}

div#main a:visited {
  color: #f29578;
}

span.ethna-error {
  color: #ff0000;
}


/* ユーザ登録 */
h2#register {
  color: #888888;
  text-align: center;
}
