@charset 'utf-8';

body {
  margin: 0;
  padding: 0 40px;
  font-size: 16px;
  background-color: #FFFBD5;
  font-family: Arial,Verdana,Helvetica,'MS UI Gothic',sans-serif;
}

div#main {
  margin-bottom: 1em;
  padding: 10px 20px;
  border: none;
  background-color: #FFFBD5;
}

div#main h1 {
  color: #555555;
  border-bottom: 1px solid #cee6e6;
  margin: 1.2em 0;
}

div#main a:link {
  color: #f35a21;
}

div#main a:visited {
  color: #f29578;
}

span.ethna-error {
  color: #ff0000;
}


/* ユーザ登録 */
h2#register {
  color: #777777;
  text-align: center;
}

div#register_button{
  text-align:center;
  margin-top: 15px;
  margin-bottom: 10px;
}

div#register_button button{
  border:0px;
  background-color:transparent;
  cursor:pointer;
}

div#register_button a{
    width:200px;
    margin: 0 auto;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
    color:#ffffff !important;
    background-color:#ffcc00;
}
